QTextEdit
{
    border: none;
    border-radius: 14px;
    background: @themeMedium;
    padding: 6px 12px;
}

QTextEdit:hover
{
    border-color: #d7d4d1;
}

QTextEdit:pressed
{
    border-color: #4ea6ea;
}

QTextEdit#group
{
    border: none;
    border-radius: 14px;
    background: @themeMedium;
    padding: 6px 12px;
}

QTextEdit#group:hover
{
    border-color: #d7d4d1;
}

QTextEdit#group:pressed
{
    border-color: #4ea6ea;
}
