QPushButton
{
    background-color: #10b98f;
    background-image: url("@getImagePath(screenshotButton/screenshotButton.svg)");
    background-repeat: none;
    background-position: center;
    border-radius: 18px;
    border: none;
    width: 24px;
    height: 24px;
}

QPushButton:hover
{
    background-color: #0e9e7a;
}

QPushButton:pressed
{
    background-color: #0c8a6c;
}

QPushButton[enabled="false"]
{
    background-color: #919191;
}

QPushButton:focus
{
    outline: none;
}
