QPushButton[update-available=true]
{
    background-color: #029b7d;
    border: none;
}

QPushButton:hover[update-available=true]
{
    background-color: #02795f;
    border: none;
}

QPushButton
{
    background-color: @themeDark;
    border: none;
}

QPushButton:hover
{
    background-color: @themeMediumDark;
    border: none;
}

QPushButton:checked
{
    background-color: @themeMedium;
    border: none;
}

QPushButton:pressed
{
    background-color: @themeMediumLight;
    border: none;
}
