QPushButton
{
    background-color: #029b7d;
    background-image: url("@getImagePath(sendButton/sendButton.svg)");
    background-repeat: none;
    background-position: center;
    border: none;
    border-radius: 25px;
    width: 50px;
    height: 50px;
}

QPushButton:hover
{
    background-color: #02795f;
}

QPushButton:pressed
{
    background-color: #016b54;
}

QPushButton:focus
{
    outline: none;
}
